@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* フォーム全体のスタイル */
h2{
  text-align: center;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* 各入力項目のスタイル */
div {
  margin-bottom: 15px;
}

/* ラベルのスタイル */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* テキスト入力フィールドとテキストエリアのスタイル */
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* テキストエリアのスタイル */
textarea {
  height: 100px;
  resize: vertical; /* 縦方向のサイズ変更を許可 */
}

/* ボタンのスタイル */
button {
  background-color: #4CAF50; /* 緑色の背景 */
  color: white;              /* 白い文字 */
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* ボタンのホバー効果 */
button:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
}

/* Deleteボタンのスタイル */
.delete-button {
  background-color: #f44336; /* 赤色の背景 */
}

.delete-button:hover {
  background-color: #d32f2f; /* ホバー時の背景色 */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
