@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 各入力項目のスタイル */
h1{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
h2{
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin: 10px;
}
h3{
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
.bold{
  font-weight: bold;
}

div {
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #63cbbf;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 50px;
}
header button{
  background-color: #25726e;
  color:white;
}


/* テキスト入力フィールドとテキストエリアのスタイル */
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* テキストエリアのスタイル */
textarea {
  height: 100px;
  resize: vertical; /* 縦方向のサイズ変更を許可 */
}

/* ボタンのスタイル */
button {
  background-color: #2aa597; /* 緑色の背景 */
  color: white;              /* 白い文字 */
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* ボタンのホバー効果 */
button:hover {
  background-color: #25726e; /* ホバー時の背景色 */
}

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
  width: 500px;
  margin: 15px auto;
}

/* Deleteボタンのスタイル */
.delete-button {
  background-color: #fa6a78; /* 赤色の背景 */
}

.delete-button:hover {
  background-color: #ad4650; /* ホバー時の背景色 */
}

/* フォームのスタイル */
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 4px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Filterのスタイル */
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  width: 500px;
  margin: 20px auto;
}

.category-checkboxes {
  display: flex;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
